*
{
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
    z-index: -100000;
    height: 100vh;
    overflow-x: hidden ;
    justify-content: center;
    background-image: URL('/img/kwkd.png');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    z-index: -1000;
    position: relative;
    width: 100%;
    height: 180%;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);

}
.wrapper-nav {
    z-index: -100;
    position: fixed;
    width: 90%;
    height: 50px;
    top: 30px;
    right: 5%;
    background: rgba(255, 255, 255, 0.14);
    border-radius: 77px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
nav
{
    z-index: 100;
    position: fixed; 
    top: 0px;
    left: 0;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    
}

nav .logo
{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 6px;
}

nav ul li a 
{
    text-decoration: none;
    padding: 5px 15px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
}
nav ul li a:hover ,
nav ul li a.active
{
    background: #fff;
    color: rgb(27, 27, 27);
}
nav ul
{
    display: flex;
}
nav ul li
{
    list-style: none;
    height: 100%;
    padding: 30px;
}

.toggle-button
{
    position: absolute;
    top: 13px;
    right: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 23px;
}

.toggle-button .bar
{
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 100px;
}
.logo
{
    margin: 20px;
    font-size: 30px;
}
.list-container {
    position: absolute;
    top: -15px;
    right: -15px;
}
.bottom {
    width: 100%;
    background-color: black;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 125px;
    
}
.column {
    float: left;
    width: 25%;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 50px;
}
.column li a {
    z-index: 1000000;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: 'Varela Round', sans-serif;
    
}
h6 {
    position: relative;
    color: white;
    bottom: 5px;
    left: 10px;
    width: 195px;
    height: 20px;
    
    
}


@media(max-width:1050px) {
    .list-container {
        display: none;
        width: 100%;
        border-radius: 50px;
        align-content: center;
        left: 185px;
    }
    .toggle-button {
        display: flex;
    }
    nav
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .list-container ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .list-container li {
        text-align: center;
    }
    .list-container.active {
        z-index: 10000000;
        border-radius: 40px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.3px);
        -webkit-backdrop-filter: blur(5.3px);
        border: 1px solid rgba(255, 255, 255, 0.5);
        background: rgba(255, 255, 255, 0.14);
        display: flex;
        max-width: 300px;
        margin: auto;
        margin-top: 100px;
        width: 50%;
        padding: 10px;
        text-align: center;
        left: 0px;
        right: 0px;
    }
}
@media(max-width:428px) {
    .column li a {
        font-size: 20px;
    }
}

@media(max-width:420px) {
    .logo {
        font-size: 20px
    }
    nav .logo {
        margin-top: 10px;
        font-size: 25px 
    }
    .toggle-button {
    width: 30px;
    height: 23px;    
    }

}

@media(max-width:350px){
    .logo {
        font-size: 20px
    }
    nav .logo {
        margin-top: 15px;
        font-size: 20px 
    }
    .toggle-button {
    width: 20px;
    height: 23px;    
    }

}
 
    